<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.dagon.opus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.Multidex"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".InicialActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityConfig"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecuperarSenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AprenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GerenciarPerfilActivity"
            android:label="@string/title_activity_gerenciar_perfil"
            android:screenOrientation="portrait" />

        <!-- TELAS DE ETAPAS -->
        <activity
            android:name=".telasEtapas.EtapasModulo1Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".telasEtapas.EtapasModulo2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".telasEtapas.EtapasModulo3Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".telasEtapas.EtapasModulo4Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".telasEtapas.EtapasModulo5Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".telasEtapas.EtapasModulo6Activity"
            android:screenOrientation="portrait" />

        <!--CONTAINER GLOSSARIO -->

        <activity
            android:name=".Glossario.ContainerComandosGlossario"
            android:label="Glossario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- CONTAINERS MODULO 1-->
        <!-- ESSA ATIVIDADE QUE INICIA A PORRA TODA DOS FRAGMENTOS-->

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa1"
            android:label="@string/TituloEtapa1Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa2"
            android:label="@string/TituloEtapa2Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa3"
            android:label="@string/TituloEtapa3Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa4"
            android:label="@string/TituloEtapa4Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa5"
            android:label="@string/TituloEtapa5Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa6"
            android:label="@string/TituloEtapa6Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa7"
            android:label="@string/TituloEtapa7Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo1.ContainerModulo1Etapa8"
            android:label="@string/TituloEtapa8Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerLicoes.Modulos.Provas.ContainerProva1"
            android:label="@string/TituloEtapa9Modulo1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CONTAINERS MODULO 2-->
        <!-- ESSA ATIVIDADE QUE INICIA A PORRA TODA DOS FRAGMENTOS-->

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo2.ContainerModulo2Etapa1"
            android:label="@string/TituloEtapa1Modulo2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo2.ContainerModulo2Etapa2"
            android:label="@string/TituloEtapa2Modulo2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo2.ContainerModulo2Etapa3"
            android:label="@string/TituloEtapa3Modulo2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo2.ContainerModulo2Etapa4"
            android:label="@string/TituloEtapa4Modulo2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo2.ContainerModulo2Etapa5"
            android:label="@string/TituloEtapa5Modulo2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Provas.ContainerProva2"
            android:label="@string/TituloEtapa6Modulo2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--MÓDULO 3-->

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo3.ContainerModulo3Etapa1"
            android:label="@string/TituloEtapa1Modulo3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo3.ContainerModulo3Etapa2"
            android:label="@string/TituloEtapa2Modulo3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Provas.ContainerProva3"
            android:label="@string/TituloEtapa3Modulo3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--MÓDULO 4-->

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo4.ContainerModulo4Etapa1"
            android:label="@string/TituloEtapa1Modulo4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo4.ContainerModulo4Etapa2"
            android:label="@string/TituloEtapa2Modulo4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo4.ContainerModulo4Etapa3"
            android:label="@string/TituloEtapa3Modulo4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo4.ContainerModulo4Etapa4"
            android:label="@string/TituloEtapa4Modulo4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo4.ContainerModulo4Etapa5"
            android:label="@string/TituloEtapa5Modulo4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Provas.ContainerProva4"
            android:label="@string/TituloEtapa6Modulo4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--MÓDULO 5-->

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo5.ContainerModulo5Etapa1"
            android:label="@string/TituloEtapa1Modulo5"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--MÓDULO 6-->
        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa1"
            android:label="@string/TituloEtapa1Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa2"
            android:label="@string/TituloEtapa2Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa3"
            android:label="@string/TituloEtapa3Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa4"
            android:label="@string/TituloEtapa4Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa5"
            android:label="@string/TituloEtapa5Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa6"
            android:label="@string/TituloEtapa6Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa7"
            android:label="@string/TituloEtapa7Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa8"
            android:label="@string/TituloEtapa8Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ContainerLicoes.Modulos.Modulo6.ContainerModulo6Etapa9"
            android:label="@string/TituloEtapa9Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ContainerLicoes.Modulos.Provas.ContainerProva6"
            android:label="@string/TituloEtapa10Modulo6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />






        <activity android:name=".AlterarSenhaActivity" />
        <activity android:name=".CertificadoActivity" />
        <activity android:name=".CertificadoIncompleto"/>
    </application>

</manifest>