<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.dagon.opus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.tcc.dagon.opus.utils.Multidex" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Aprender.AprenderActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/TemaSemActionBar"
            />

        <activity
            android:name=".CadastroActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ActivityConfig_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PerfilUsuario.RecuperarSenhaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PerfilUsuario.GerenciarPerfilActivity"
            android:label="@string/title_activity_gerenciar_perfil"
            android:screenOrientation="portrait" />

        <!-- TELAS DE ETAPAS -->
        <activity
            android:name=".telasEtapas.EtapasModulo1Activity"
            android:screenOrientation="portrait" />

        <!--CONTAINER GLOSSARIO -->

        <activity
            android:name=".Glossario.ContainerComandosGlossario"
            android:label="Glossario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- CONTAINERS MODULO 1-->
        <!-- ESSA ATIVIDADE QUE INICIA A PORRA TODA DOS FRAGMENTOS-->

        <activity
            android:name=".ClassesPai.ContainerEtapa"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ClassesPai.ContainerProva"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CONTAINERS MODULO 2-->
        <!-- ESSA ATIVIDADE QUE INICIA A PORRA TODA DOS FRAGMENTOS-->


        <activity android:name=".AlterarSenhaActivity" />
        <activity android:name=".CertificadoActivity" />
        <activity android:name=".CertificadoIncompleto"/>
    </application>

</manifest>